<%- include('partials/header'); -%>




<form action="/" , method="POST">

    <label class="col-2 col-form-label">Birthday</label>
    <input class="form-control" type="date" name="birthday">

    <button type="submit" class="btn btn-primary">나이 확인하기!</button>


</form>

<%- include('partials/footer'); -%>